  <ul>
            <li><input type="checkbox"><a href="show/1">Clean room</a><span class="pom-est">1 pomodoro</span></li>
            <li><input type="checkbox"><a href="show/2">Eat dinner</a><span class="pom-est">1 pomodoro</span></li>
            <li><input type="checkbox"><a href="show/3">Watch netflix</a><span class="pom-est">1 pomodoro</span></li>
            <li><input type="checkbox"<a href="show/4">Play games</a><span class="pom-est">1 pomodoro</span></li>
            <li><input type="checkbox"><a href="show/2">Work out</a><span class="pom-est">1 pomodoro</span></li>
            <li><input type="checkbox"><a href="show/2">Shower</a><span class="pom-est">1 pomodoro</span>
            <ul style="list-style: none;">
        </ul>
        <input type= "number" placeholder="number polm">
        <input id="add-new-todo" type="summit" value="add todo">
        <%= @todo_description %>
<h3>Todo #<%= params[:id] %></h3>